* {
    padding: 0px;
    margin: 0px;
}
#wrapper {
    height: 750px;
    width: 1000px;
    background-color: rgb(28,52,87);
    padding: 15px;
}
#header{
    height: 100px;
    width: 1000px;
    background-color: rgb(207,54,71);
    margin: 15px,15px,15px,15px;
    
    
    
}
#header p{
    color:rgb(255,255,255);
    font-size:36px;
    font-weight:bold;
    position: relative;
    align-self: center;
    top:30px;
}
#nav{
    display:inline-block;
    vertical-align:top;
    background-color:rgb(45,130,140);
    margin:20px;
    width:200px;
    height:200px;
    padding: 20px;

}
#main{
    display:inline-block;
    height:500px;
    width:630px;
    margin: 20px;
    padding:20px;
    background-color:rgb(0,0,0);
    
}

#main ul,p,h2{
    color:rgb(255,255,255);
}

#footer{
    background-color: gray;
    padding:20px;
}

#footer p{
    display:inline-block;
    
}
